@import "tailwindcss";

@theme {
  --color-red-500: #ef4444;
  --color-yellow-500: #eab308;
  --color-green-500: #22c55e;
  --color-gray-200: #e5e7eb;
}

summary::-webkit-details-marker {
  display: none
}

.checker-background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(#e6e6e690 1px, transparent 1px),
  linear-gradient(90deg, #e6e6e690 1px, transparent 1px);
  background-size: 3.7em 3.7em;
  mask-image: radial-gradient(ellipse at 50% 40%, black 0%, transparent 55%);
  z-index: -1;
  background-position-x: center;
}
